<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trymaster" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DashBoardActivity"
            android:label="DashBoard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		<activity
            android:name=".MainActivity"
            android:label="Quiz List" >

        </activity>
		<activity
            android:name=".AddQuizActivity"
            android:label="Add Quiz" >

        </activity>
		<activity
            android:name=".SignupActivity"
            android:label="Signup" >

        </activity>
		
		<activity
            android:name=".LoginActivity"
            android:label="Main" >

        </activity>
		
		<activity
            android:name=".AddCourseActivity"
            android:label="Add Course" >
            
        </activity>
		<activity
            android:name=".TopicListActivity"
            android:label="List Of Classess" >

        </activity>
		<activity
            android:name=".CourseContentActivity"
            android:label="Watch" >

        </activity>
		<activity
            android:name=".QuizViewActivity"
            android:label="Taking Quiz" >

        </activity>
    </application>

</manifest>
